html,body{width:100%;height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body,input,textarea,select,button,table{font-family:'Malgun Gothic',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:normal}
a{text-decoration:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

  /* style */
  .content{
    width:800px;
    margin:0px auto;
  }
  .content h1 {
    padding: 10px 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .fixed_img_col {}
  .fixed_img_col ul {
    padding: 10px 10px 20px;
    /*border-bottom: 1px solid #ccc;*/
    *zoom:1;

  }
  .fixed_img_col ul:after{
    content:'';
    display:block;
    clear: both;
  }
  .fixed_img_col li {
    float: left;
    width: 120px;
    height: 175px;
    /*border-bottom: 1px solid #ccc;*/
    padding: 10px 0 10px ;
    /*margin-top:-1px;
    margin-bottom:-1px;*/
    margin:30px;
    padding:0px;
        background-color:red;
  }
  .fixed_img_col li a{
    display: block;
    color: #333;
    text-decoration: none;
  }
  .fixed_img_col li a .thumb {
    position: relative;
    display: block;
  }
  .fixed_img_col li a .thumb img {}

  .fixed_img_col li a .thumb em {

    display: none;
    opacity: .6;
    position: absolute;
    left: 0;
    top: 0;
    width :100%;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height:120px;


  }
  .fixed_img_col li a:hover .thumb em {
    display: block;
  }

  .fixed_img_col li p {
    color: #666;
    font-size: .9em;
  }

  .area{
  position: absolute;
  margin: 50px 20px 0;
  right:50px;
  }
  .btn_pack{}
  .btn_pack button:hover


/* TopButton Style*/
  .btn btn-secondary float-right{
  position: absolute;
  margin: 50px 20px 0;
  right:50px;
  }
  .btn_pack{}
  .btn_pack button:hover
