<!doctype html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ category }}</title>
    <link rel="stylesheet" href="/static/blog/bootstrap.css?after">
    <link rel="stylesheet" href="/static/blog/bootstrap.min.css?after">
    <link rel="stylesheet" href="/static/blog/layout.css?after">
    <!--    <link rel="stylesheet" href="/static/css/app.css">-->
    <link rel="css/subcide.css" href="stylesheet">

</head>

<body>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">백종원의 레시피</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">종류<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">한식</a></li>
                        <li><a href="#">중식</a></li>
                        <li><a href="#">일식</a></li>
                        <li><a href="#">양식</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- 게시글 -->
<div id="content">
    <div class="inn">
        <h1 class="my-4">게시물</h1>
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/350x350" alt="">
                </a>
            </div>
            <div class="col-5">
                <a class="title" href="#"><h2>제목 1</h2></a>
                <a class="post" href="#">게시시간 + 댓글 수</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/350x350" alt="">
                </a>
            </div>
            <div class="col-5">
                <a class="title" href="#"><h2>제목 2</h2></a>
                <a class="post" href="#">게시시간 + 댓글 수</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/350x350" alt="">
                </a>
            </div>
            <div class="col-5">
                <a class="title" href="#"><h2>제목 3</h2></a>
                <a class="post" href="#">게시시간 + 댓글 수</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/350x350" alt="">
                </a>
            </div>
            <div class="col-5">
                <a class="title" href="#"><h2>제목 4</h2></a>
                <a class="post" href="#">게시시간 + 댓글 수</a>
            </div>
        </div>
    </div>

    <!-- #페이지네이션 -->
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>