<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>

</head>

<body>

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ object.title }}
    <small>{{ object.category }}</small>
  </h1>
    <p><pre>{{object.content}}</pre></p>
  <div class="fixed_img_col">
    <ul>
    <li>
      <a href="#">
        <span class="thumb">
          <img src ="img/apple-touch-icon.png" alt="">
          <em>Category</em>
        </span>
        <!--<strong>이미지 제목</strong>-->
      </a>
      <!--<p>2020-08-13</p>-->
    </li>

    <li>
      <a href="#">
        <span class="thumb">
          <img src ="img/apple-touch-icon.png" alt="">
          <em>Category</em>
        </span>
        <!--<strong>이미지 제목</strong>-->
      </a>
      <!--<p>2020-08-13</p>-->
    </li>

    <li>
      <a href="#">
        <span class="thumb">
          <img src ="img/apple-touch-icon.png" alt="">
          <em>Category</em>
        </span>
        <!--<strong>이미지 제목</strong>-->
      </a>
      <!--<p>2020-08-13</p>-->
    </li>

    <li>
      <a href="#">
        <span class="thumb">
          <img src ="img/apple-touch-icon.png" alt="">
          <em>Category</em>
        </span>
    <!--<strong>이미지 제목</strong>-->
      </a>
      <!--<p>2020-08-13</p>-->
    </li>
    </ul>
  </div>
    
<div class= "area">
	<span class="btn_pack">
		<a href="#">
			<button>전체 글 보기</button>
		</a>
	</span>
</div>

</div>
<!-- /.container -->


</body>
</html>



